/* ######## NAVBAR ########### */
.navbar {
  background-color: rgb(233, 102, 102);
}
.navbarContenedor {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.menu li a:hover {
  color: white;
}

.brandTitle {
  text-decoration: none;
  color: rgb(0, 0, 0);
  align-self: center;
}

.brandTitle:hover {
  color: white;
}
/* ---------------- FIN NAVBAR ---------------- */

/*###### ItemList ######*/
.itemList {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}
/* --- FIN ItemList --- */


/*###### Item ######*/
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgb(238, 231, 231);
  box-shadow: 2px 2px 10px black;
}

.item h3 {
  text-align: center;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 15px 0;
  background-color: rgb(233, 102, 102);
}

.item img {
  width: 90%;
}

.item strong {
  font-size: 1.2em;
  padding: 10px;
}

.item a {
  margin-bottom: 15px;
  padding: 8px;
  background-color: rgb(233, 102, 102);
  text-decoration: none;
  color: rgb(29, 26, 26);
  font-weight: bold;
}

.item a:hover {
  color: white;
}

/* --- FIN Item --- */



/*###### ItemCount ######*/

.itemCount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

}

.contadorContenedor {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 95px;
  padding: 5px;
  margin: 5px;
  border: solid 1px rgb(116, 112, 112);
  margin-bottom: 12px;
  font-weight: bold;
  background-color: white;
}

.btn {
  padding: 12px;
  background-color: rgb(233, 102, 102);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
}

.btn:hover {
  color: white;
}

/* --- FIN ItemCount --- */


.contenedorCentro {
  display:flex;
  flex-direction: column;
  align-items: center;
}


/*###### CART ######*/

#cartList {
  width: 40%;
  margin-top: 20px;
}

#cartItem {
  display: flex;
  height: 200px;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: rgb(238, 231, 231);
  box-shadow: 2px 2px 10px black;
  padding: 20px;
}

#cartItem button {
  height: fit-content;
  padding: 10px;
}

.padBot {
  padding-bottom: 50px;
}

/* --- FIN CART --- */

/*######  FORMULARIO  ######*/

#form {
  background-color: rgb(238, 231, 231);
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}



#form label p {
  font-size: 1.1em;
  font-weight: bold;
}

