/* ######## NAVBAR ########### */
.navbar {
  background-color: rgb(233, 102, 102);
}
.navbarContenedor {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.menu li a:hover {
  color: white;
}

/* ---------------- FIN NAVBAR ---------------- */




/*###### ItemCount ######*/

#contadorContenedor {
  display: flex;
  justify-content: space-between;
  width: 90px;
  padding: 3px;
  border: solid 1px rgb(116, 112, 112);
}



/* --- FIN ItemCount --- */


.contenedorCentro {
  display:flex;
  flex-direction: column;
  align-items: center;
}